@page
@model MascotasEnCasa.App.Presentacion.Pages.Pacientes.InicioModel
@{
}
<h1>MENU PRINCIPAL</h1><br>

<a class="btn btn-primary" asp-page ="./Crear"> Nuevo Paciente </a> 

<a class="btn btn-primary" asp-page ="./Index"> Lista de Pacientes </a>

<a class="btn btn-primary" asp-page ="./Crear">Propietario </a>

<a class="btn btn-primary" asp-page ="./Crear">Medico Veterinario </a>

<a class="btn btn-primary" asp-page ="./Crear">Registrar Signos </a> 


