    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VETERINARIA GAROUS </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Est-lay.css" />
    <link rel="icon"  href="https://i.ibb.co/BqY6pPD/icono.png">
</head>
<body>
   <div class="area-sup">
                <div class="horario">
				    <p>Lunes-Sabado, 8am-10pm</p>
				</div>
				<div class="contacto">
				    <p>contactanos: (+57) 60-6-321-3452</p>
				</div>
            </div>
        <header>            
            <div class="garous">
                <div class="logo">                   
                <a href="~/Pacientes/Inicio.cshtml"><img  src="https://i.ibb.co/BqY6pPD/icono.png" width="40px" height="40px"></a>
                </div>
                <div>
                    <h2 class="titulo"> Garous</h2>
                </div>
            </div>
         </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MascotasEnCasa.App.Presentacion - <a asp-area="" asp-page="/Pacientes/Inicio">Inicio</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
