<!DOCTYPE html>
<html lang="es-CO">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VETERINARIA GAROUS 89</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <!--<li><a asp-page="/Index">Bienvenidos Veterinaria GAROUS</a></li>                        
            <li><a class="nav-link text-dark" asp-area="" asp-page="/Privacy">HISTORIA</a></li>
            <li><a class="nav-link text-dark" asp-area="" asp-page="/Pacientes/Inicio">INICIO</a></li>-->
            <a href="#"> inicio</a>
            <a href="#nosotros"> Acerca de Nosotros </a>
            <a href="#servicios"> Servicios</a>
            <a href="#opiniones"> Opiniones</a>
            <a href="#contacto"> Contacto</a>
            <a href="#"> Ingresar</a>
            <a href="#"> Registrarse</a>
        </nav>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <footer class="border-top footer text-muted">
            &copy; 2021 - Veterinaria Garous
        </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
