@page
@model IndexModel
@{
    Layout="";
}


<!DOCTYPE html>
<html lang="es-CO">
    <head>
        <meta charset="utf-8">
		<title>Veterinaria Garous</title>
		<meta name="viewport" content="width device.width, user-scalable=1.0, inicial-scalable=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="Index.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="#"> Inicio</a>
                <a href="#nosotros"> Acerca de Nosotros </a>
                <a href="#"> Iniciar Sesión</a>
                <a href="#"> Crear Cuenta</a>
            </nav>
            
    </body>
</html>
